*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header nav{
    background-color: black;
}
header nav img{
    display: inline-block;
    width: auto;
    height: 45px;;
}
header nav ul{
    margin-top: 15px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
/* main */
main{
    background-color:black;
    width: 100%;
    height: auto;
}
.container-video{
    text-align: center;
}
.container-video video{
    display: inline-block;
    width: 60%;
    height: auto;
    margin: 0 auto;
}
/* footer main */
.footer-main{
    color:white;
    text-align: center;
    margin: 20px 35px;
    height: 35px;
    vertical-align: bottom;
}
.footer-main div,p{
    display: inline-block;
}
.footer-main .izquierda{
    font-size: 15px;
    /* display: inline-block; */
    margin-right: auto;
    float: left;
}
.footer-main .centro{
    font-size: 15px;
    /* display: inline-block; */
    /* margin: 0 auto; */
}
.footer-main div{
    /* display: inline-block; */
    float: right;
    text-align: center;
    vertical-align: top;
}
.footer-main div p{
    /* display: inline-block; */
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 180px;
}
.container-izquierda{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    width: 49%;
    padding-right: 1rem;
}
.container-izquierda img{
    width: 250px;
}
.container-derecha{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    text-align: left;
    padding-right: 1rem;
}
.container-derecha img{
    width: 250px;
}
.container-derecha button{
    margin-top: 15px;
    background: none;
    border:3px solid black;
    padding: 5px 10px;
    font-weight: bold;
}
footer{
    background-color: black;
    height: 80px;
    text-decoration-color: blue
}

html{

    background-image: url(/img/.jpg)
    
    }
    